Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

.lintstagedrc:

{
    "(*.ts|*.tsx|*.js)": [
        "prettier --write",
        "eslint --fix",
    ],
    "*.scss": [
        "prettier --write",
        "stylelint --fix",
    ],
    "*.json": "prettier --write",
    "*.md": "prettier --write",
    "package.json": "sort-package-json",
}

Fix recovery form challenge
  applications/account/src/app/signup/CreateAccountForm.tsx
  applications/account/src/app/signup/RecoveryForm.tsx
Due: none

add UTM for apps in download section according IENG-1236
  packages/components/containers/vpn/ProtonVPNClientsSection/ProtonVPNClientsSection.tsx
Due: none

Add monorepo cop lint rules
  packages/eslint-config-proton/.eslintrc.js
  packages/eslint-config-proton/LICENSE
  packages/eslint-config-proton/LICENSE.md
  packages/eslint-config-proton/index.js
  packages/eslint-config-proton/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Update webpack-env types
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Fix a few minor errors for importing ics from Mail
  applications/mail/src/app/helpers/calendar/invite.test.ts
  packages/shared/lib/calendar/icsSurgery/vevent.ts
Due: none

Remove extra spaces from calendar generated error strings
  applications/calendar/src/app/containers/calendar/CalendarContainerView.tsx
Due: none

Fix minicalendar width inside dropdown
  packages/styles/scss/components/_minicalendar.scss
Due: prettier --write, stylelint --fix

Remove unnecessary separator from calendar v4.0.2 changelog
  applications/calendar/CHANGELOG.md
Due: prettier --write

Include filename into a translated string
  applications/drive/src/app/components/uploads/ConflictModal.tsx
Due: none

Remove calendar subscription info until url available
  packages/components/containers/calendar/settings/CalendarsTable.tsx
Due: none

Add feature check for Info component
  packages/components/containers/calendar/settings/CalendarsTable.tsx
Due: none

Convert PayPalButton to typescript
  applications/account/src/app/signup/CheckoutButton.tsx
  applications/account/src/app/signup/interfaces.ts
  packages/components/containers/invoices/PayInvoiceModal.js
  packages/components/containers/payments/PayPalButton.tsx
  packages/components/containers/payments/PayPalView.js
  packages/components/containers/payments/subscription/SubscriptionSubmitButton.tsx
Due: none

Add paypal-color.svg
  packages/styles/assets/img/bank-icons/paypal-color.svg
Due: none

Add StyledPayPalButton component
  packages/components/containers/payments/PayPalButton.tsx
  packages/components/containers/payments/StyledPayPalButton.scss
  packages/components/containers/payments/StyledPayPalButton.tsx
  packages/components/containers/payments/subscription/SubscriptionSubmitButton.tsx
  packages/styles/assets/img/bank-icons/paypal-color.svg
Due: prettier --write, stylelint --fix

Remove PayPal image from 'Payment details' section
  packages/components/containers/payments/PayPalView.js
Due: none

Fix transfer manager minimise icon color
  applications/drive/src/app/components/TransferManager/Header.tsx
  applications/drive/src/app/components/TransferManager/TransferManager.tsx
Due: none

Revert drive favicon
  applications/drive/src/assets/protondrive.svg
Due: none

Add data-testid
  packages/components/containers/layouts/AppearanceOtherSection.tsx
  packages/components/containers/layouts/DraftTypeSelect.tsx
  packages/components/containers/layouts/TextDirectionSelect.tsx
Due: none

Ignore unhandled rejections
  packages/shared/lib/helpers/sentry.ts
Due: none
