Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

.lintstagedrc:

{
    "(*.ts|*.tsx|*.js)": [
        "prettier --write",
        "eslint --fix",
    ],
    "*.scss": [
        "prettier --write",
        "stylelint --fix",
    ],
    "*.json": "prettier --write",
    "*.md": "prettier --write",
    "package.json": "sort-package-json",
}

ES prototype for drive
  applications/drive/src/app/components/layout/DriveHeader.tsx
  applications/drive/src/app/components/sections/Drive/DriveToolbar.tsx
  applications/drive/src/app/containers/EncryptedSearchProvider.tsx
  applications/drive/src/app/containers/MainContainer.tsx
  applications/drive/src/app/utils/encryptedSearchDriveHelpers.tsx
Due: none

Error handling - logging & user notifications
  applications/drive/src/app/components/CreateFolderModal.tsx
  applications/drive/src/app/components/DownloadShared/DownloadSharedContainer.tsx
  applications/drive/src/app/components/ShareLinkModal/ShareLinkModal.tsx
  applications/drive/src/app/store/actions/useActions.tsx
  applications/drive/src/app/store/actions/useListNotifications.tsx
  applications/drive/src/app/store/downloads/DownloadProvider/useDownloadProvider.ts
  applications/drive/src/app/store/links/useLinksActions.ts
  applications/drive/src/app/store/shares/useShareUrl.ts
  applications/drive/src/app/store/uploads/UploadProvider/useUpload.tsx
  applications/drive/src/app/store/utils/errorHandler.ts
  applications/drive/src/app/store/views/useTree.tsx
Due: none

Updated change log for beta 25
  applications/drive/CHANGELOG.md
Due: prettier --write

Editor now triggers content change when adding img
  packages/components/components/editor/rooster/helpers/getRoosterEditorActions.ts
Due: none

Limit EO reply attachments to 10 MAILWEB-3062
  applications/mail/src/app/components/eo/reply/EOReplyFooter.tsx
  applications/mail/src/app/components/eo/reply/tests/EOReply.attachments.test.tsx
  applications/mail/src/app/components/eo/reply/tests/EOReply.test.helpers.tsx
  applications/mail/src/app/hooks/eo/useEOAttachments.ts
  packages/shared/lib/mail/eo/constants.ts
Due: none

Update add key, import key, and reactivate key modals
  packages/components/containers/keys/AddressKeysSection.tsx
  packages/components/containers/keys/UserKeysSection.tsx
  packages/components/containers/keys/addKey/AddKeyModal.tsx
  packages/components/containers/keys/importKeys/ImportKeyModal.tsx
  packages/components/containers/keys/reactivateKeys/ReactivateKeysButton.tsx
  packages/components/containers/keys/reactivateKeys/ReactivateKeysModal.tsx
  packages/components/containers/keys/reactivateKeys/getAllKeysToReactive.ts
  packages/components/containers/recovery/OverviewSection.tsx
  packages/components/containers/recovery/RecoverDataCard.tsx
  packages/components/containers/recovery/RecoverDataConfirmModal.tsx
Due: none

Improve calendar date movement/change handling for modal and popover
  applications/calendar/src/app/components/eventModal/eventForm/modelToProperties.ts
  applications/calendar/src/app/containers/calendar/InteractiveCalendarView.tsx
  applications/calendar/src/app/containers/calendar/eventActions/getSaveEventActions.ts
  applications/calendar/src/app/containers/calendar/eventActions/getSaveRecurringEventActions.ts
  applications/calendar/src/app/containers/calendar/eventActions/getSaveSingleEventActions.ts
  packages/shared/lib/calendar/vcalConverter.ts
Due: none

Fix editor focus when hitting tab
  packages/components/components/editor/rooster/hooks/useBubbleIframeEvents.ts
  packages/shared/lib/shortcuts/mail.ts
Due: none

Fix data locked card button stacking on small screens
  packages/components/containers/recovery/RecoverDataCard.tsx
Due: none

Fix referral string
  packages/components/containers/payments/subscription/YourReferralPlanSection.tsx
Due: none

Fix referal strings, second pass
  packages/components/containers/referral/ReferralSpotlight.tsx
  packages/components/containers/referral/invite/InviteSendEmailRecipient.tsx
  packages/components/containers/referral/invite/InviteShareLink.tsx
  packages/components/containers/referral/invite/inviteActions/InviteActions.tsx
  packages/components/containers/referral/modals/ReferralModal.tsx
Due: none

Prevent double indexing
  packages/encrypted-search/lib/useEncryptedSearch.tsx
Due: none

Store whether indexing cannot be peformed
  packages/encrypted-search/lib/interfaces.ts
  packages/encrypted-search/lib/useEncryptedSearch.tsx
Due: none

Catch invalid rules with BYYEARDAY in ICS surgery
  applications/calendar/package.json
  applications/mail/src/app/helpers/calendar/invite.test.ts
  packages/shared/lib/calendar/rrule.ts
  packages/shared/test/calendar/import.spec.ts
  packages/shared/test/calendar/rrule/rrule.spec.js
Due: prettier --write, sort-package-json

Catch properly errors in helpers generating occurrences of recurring events
  applications/calendar/package.json
  packages/shared/lib/calendar/recurring.ts
Due: prettier --write, sort-package-json
