Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

.lintstagedrc:

{
    "(*.ts|*.tsx|*.js)": [
        "prettier --write",
        "eslint --fix"
    ],
    "*.scss": [
        "prettier --write",
        "stylelint --fix"
    ],
    "*.json": "prettier --write",
    "*.md": "prettier --write",
    "package.json": "sort-package-json"
}

Stop escaping CSS after 5 tries MAILWEB-3745
  packages/shared/lib/sanitize/escape.ts
  packages/shared/test/sanitize/escape.spec.ts
Due: none

Check network request received
  packages/components/containers/labels/NewLabelForm.tsx
Due: none

Workaround possible modal backdrop race condition
  packages/components/components/modalTwo/Backdrop.tsx
Due: none

Run hooks and utils test in band
  packages/hooks/package.json
  packages/utils/package.json
Due: prettier --write, sort-package-json

Simple text file editing
  applications/drive/src/app/components/CreateFileModal.tsx
  applications/drive/src/app/components/sections/Drive/ContextMenuButtons/CreateNewFileButton.tsx
  applications/drive/src/app/components/sections/Drive/ContextMenuButtons/index.ts
  applications/drive/src/app/components/sections/Drive/DriveToolbar.tsx
  applications/drive/src/app/components/sections/Drive/FolderContextMenu.tsx
  applications/drive/src/app/components/sections/Drive/ToolbarButtons/CreateNewFileButton.tsx
  applications/drive/src/app/components/sections/Drive/ToolbarButtons/index.ts
  applications/drive/src/app/components/sections/useIsEditEnabled.tsx
  applications/drive/src/app/components/useOpenModal.tsx
  applications/drive/src/app/containers/PreviewContainer.tsx
  applications/drive/src/app/store/_actions/useActions.tsx
  applications/drive/src/app/store/_uploads/mimeTypeParser/mimeTypeParser.ts
  applications/drive/src/app/store/_views/useFileView.tsx
  applications/mail/src/app/components/attachment/AttachmentPreview.tsx
  packages/components/containers/filePreview/AudioPreview.tsx
  packages/components/containers/filePreview/CloseModal.tsx
  packages/components/containers/filePreview/FilePreview.tsx
  packages/components/containers/filePreview/Header.tsx
  packages/components/containers/filePreview/ImagePreview.tsx
  packages/components/containers/filePreview/TextPreview.tsx
  packages/components/containers/filePreview/UnsupportedPreview.tsx
  packages/components/containers/filePreview/VideoPreview.tsx
  packages/components/containers/invoices/InvoicesPreview.tsx
  packages/shared/lib/helpers/mimetype.ts
  packages/styles/scss/components/_file-preview.scss
Due: prettier --write, stylelint --fix

Do not fail loading locked share
  applications/drive/src/app/containers/FolderContainer.tsx
  applications/drive/src/app/store/_shares/useDefaultShare.test.tsx
  applications/drive/src/app/store/_shares/useDefaultShare.ts
Due: none

[Core] add onchange callback to popper anchors
  packages/components/components/dropdown/SimpleDropdown.tsx
  packages/components/components/popper/usePopperAnchor.ts
  packages/components/components/popper/usePopperState.ts
Due: none

Add sidebar labels and folders actions
  applications/mail/src/app/components/sidebar/EditLabelContext.tsx
  applications/mail/src/app/components/sidebar/LocationAside.tsx
  applications/mail/src/app/components/sidebar/MailSidebarList.tsx
  applications/mail/src/app/components/sidebar/MailSidebarListActions.tsx
  applications/mail/src/app/components/sidebar/MailSidebarSystemFolders.tsx
  applications/mail/src/app/components/sidebar/SidebarFolder.tsx
  applications/mail/src/app/components/sidebar/SidebarItem.tsx
  applications/mail/src/app/components/sidebar/SidebarLabelActions.tsx
  applications/mail/src/app/components/sidebar/SidebarLabels.tsx
  packages/components/containers/labels/ActionsLabel.tsx
  packages/components/containers/labels/ParentFolderSelector.tsx
  packages/components/containers/labels/modals/DeleteLabelModal.tsx
  packages/styles/scss/helpers/_layout.scss
  packages/styles/scss/layout/_navigation.scss
Due: prettier --write, stylelint --fix

Fix BimiSelector in MessageMetadata interface
  packages/shared/lib/interfaces/mail/Message.ts
Due: none

Restict link operations in device root
  applications/drive/src/app/components/FolderTree/FolderTree.tsx
  applications/drive/src/app/components/MoveToFolderModal/MoveToFolderModal.tsx
  applications/drive/src/app/components/SelectedFileToShareModal/SelectedFileToShareModal.tsx
  applications/drive/src/app/components/sections/Drive/Drive.tsx
  applications/drive/src/app/components/sections/Drive/DriveContextMenu.tsx
  applications/drive/src/app/components/sections/Drive/DriveToolbar.tsx
  applications/drive/src/app/components/sections/Drive/DriveView.tsx
  applications/drive/src/app/components/sections/Drive/FolderContextMenu.tsx
  applications/drive/src/app/components/sections/Search/SearchView.tsx
  applications/drive/src/app/store/_views/useFolderView.tsx
  applications/drive/src/app/store/_views/useTree.tsx
  applications/drive/src/app/store/_views/utils/index.ts
  applications/drive/src/app/store/_views/utils/useIsActiveLinkReadOnly.ts
  applications/drive/src/app/store/_views/utils/useShareType.ts
Due: none

Draft now folds when undoing send
  applications/mail/src/app/components/message/MessageView.tsx
  applications/mail/src/app/hooks/composer/useSendMessage.tsx
  applications/mail/src/app/logic/messages/draft/messagesDraftActions.ts
  applications/mail/src/app/logic/messages/draft/messagesDraftReducers.ts
  applications/mail/src/app/logic/messages/messagesSlice.ts
Due: none

Reset undoSend
  applications/mail/src/app/hooks/composer/useSendMessage.tsx
  applications/mail/src/app/logic/messages/draft/messagesDraftReducers.ts
Due: none

Fix tests
  applications/mail/src/app/components/message/tests/Message.banners.test.tsx
Due: none
