Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

Fix subscribed calendar syncing condition
  applications/calendar/src/app/containers/calendar/CalendarSidebarListItems.tsx
  packages/components/containers/calendar/settings/CalendarsTable.tsx
  packages/shared/lib/calendar/subscribe/helpers.ts
Due: none

Fix renamed icon
  packages/components/components/v2/field/InputField.tsx
Due: none

Update account changelog
  applications/account/CHANGELOG.md
  applications/account/src/app/App.tsx
Due: prettier --write

Update @types/react and @types/react-dom to 17
  applications/account/package.json
  applications/calendar/package.json
  applications/drive/package.json
  applications/mail/package.json
  applications/storybook/package.json
  applications/vpn-settings/package.json
  package.json
  packages/components/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Removed parseURL function and fix Firefox unpopulated fields on mailto links
  applications/mail/src/app/helpers/url.ts
  packages/shared/lib/helpers/browser.ts
Due: none

Parse the url differently so that all mailto fields can be populated in firefox
  packages/shared/lib/helpers/browser.ts
Due: none

Replacing deprecated punycode library by the new one
  packages/components/hooks/helpers/vendorEncoder.ts
  packages/components/hooks/useLinkHandler.tsx
  packages/components/package.json
  packages/components/typings/index.d.ts
  packages/pack/webpack.config.js
  yarn.lock
Due: prettier --write, sort-package-json

Detect conversation not exists to move out
  applications/mail/src/app/helpers/errors.ts
  applications/mail/src/app/hooks/conversation/useConversation.ts
  applications/mail/src/app/hooks/conversation/useLoadConversation.tsx
  applications/mail/src/app/hooks/useShouldMoveOut.ts
  applications/mail/src/app/models/conversation.ts
Due: none

Extract optional theme default assignments
  applications/mail/src/app/components/composer/composer.scss
  packages/styles/scss/base/_index.scss
  packages/styles/scss/base/_init.scss
  packages/styles/scss/base/_scrollbar.scss
  packages/styles/scss/base/custom-properties/_index.scss
  packages/styles/scss/base/custom-properties/_init.scss
  packages/styles/scss/base/custom-properties/_optionals.scss
  packages/styles/scss/base/forms/_checkbox.scss
  packages/styles/scss/base/forms/_field.scss
  packages/styles/scss/base/forms/_input.scss
  packages/styles/scss/base/forms/_radio.scss
  packages/styles/scss/components/_file-preview.scss
  packages/styles/scss/components/_tooltip.scss
  packages/styles/scss/layout/_navigation.scss
  packages/styles/scss/layout/_structure.scss
  packages/styles/scss/layout/_toolbar.scss
  packages/styles/scss/specifics/_list.scss
  packages/styles/scss/themes/contrast-theme.scss
  packages/styles/scss/themes/dark-theme.scss
  packages/styles/scss/themes/default-theme.scss
  packages/styles/scss/themes/legacy-theme.scss
  packages/styles/scss/themes/light-theme.scss
  packages/styles/scss/themes/monokai-theme.scss
Due: prettier --write, stylelint --fix

Increase padding on badges
  packages/styles/scss/components/_badges.scss
Due: prettier --write, stylelint --fix

Apply the optional theme variables also to prominent
  packages/styles/scss/base/custom-properties/_optionals.scss
Due: prettier --write, stylelint --fix

Fix incorrect defaults that slipped through
  packages/styles/scss/base/custom-properties/_optionals.scss
Due: prettier --write, stylelint --fix

Create new selected marker color taxonomy variable
  packages/styles/scss/base/custom-properties/_optionals.scss
  packages/styles/scss/specifics/_list.scss
Due: prettier --write, stylelint --fix

Add recovery phrase user prompt
  applications/mail/src/app/MainContainer.tsx
  applications/mail/src/app/containers/PageContainer.tsx
  packages/components/containers/mnemonic/GenerateMnemonicModal.tsx
  packages/components/containers/mnemonic/MnemonicPhraseStep.tsx
  packages/components/containers/mnemonic/MnemonicPromptModal.tsx
  packages/components/containers/mnemonic/index.ts
  packages/components/containers/notification/RecoveryMethodsSection.tsx
  packages/components/hooks/useIsMnemonicAvailable.ts
  packages/shared/lib/api/settingsMnemonic.ts
  packages/shared/lib/interfaces/User.ts
  packages/shared/lib/mnemonic/bip39Wrapper.ts
  packages/shared/lib/mnemonic/helpers.ts
  packages/shared/lib/mnemonic/index.ts
  packages/shared/test/mnemonic/bip39Wrapper.spec.ts
  packages/styles/assets/img/mnemonic/user-prompt.svg
Due: none

Send invite reply from proper alias. ICS surgery improvements
  applications/calendar/src/app/containers/calendar/eventActions/inviteActions.ts
  applications/mail/src/app/helpers/addresses.ts
  applications/mail/src/app/helpers/calendar/invite.ts
  packages/shared/lib/calendar/attendees.ts
  packages/shared/lib/calendar/icsSurgery/vevent.ts
  packages/shared/lib/calendar/integration/invite.ts
  packages/shared/lib/contacts/constants.ts
  packages/shared/lib/helpers/string.ts
  packages/shared/lib/mail/addresses.ts
  packages/shared/test/helpers/string.spec.ts
Due: none

Add static asset to verify Android app links
  applications/calendar/public/.well-known/assetlinks.json
Due: prettier --write

Fix test mock on new contact route
  applications/mail/src/app/components/composer/addresses/AddressesEditor.test.tsx
Due: none

Add buffer and path polyfill for drive
  applications/drive/package.json
  applications/drive/webpack.config.js
  yarn.lock
Due: prettier --write, sort-package-json

Remove deprecated command
  packages/i18n/scripts/extract.sh
Due: none

Add runInBand to calendar tests
  applications/calendar/package.json
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: (((any of: (*.ts|*.tsx|*.js)) or (any of: *.scss)) or (any of: *.json)) or (any of: *.md)
  eslint --fix: any of: (*.ts|*.tsx|*.js)
  stylelint --fix: any of: *.scss
  sort-package-json: any of: package.json
