Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

Add environment indicator to sidebar
  applications/calendar/src/app/containers/calendar/CalendarSidebar.spec.tsx
  packages/components/components/version/AppVersion.tsx
Due: none

Remove ampersand from menu bars
  applications/account/src/app/containers/account/AccountAccountAndPasswordSettings.tsx
  applications/account/src/app/containers/account/AccountEasySwitchSettings.tsx
  applications/account/src/app/containers/mail/MailBackupAndExportSettings.tsx
  applications/account/src/app/containers/mail/MailEncryptionKeysSettings.tsx
  applications/account/src/app/containers/mail/MailFoldersAndLabelsSettings.tsx
  applications/account/src/app/containers/mail/MailIdentityAndAddressesSettings.tsx
  applications/account/src/app/containers/mail/MailSettingsSidebarList.tsx
  applications/account/src/app/containers/organization/OrganizationKeysSettings.tsx
  applications/account/src/app/containers/organization/OrganizationSettingsSidebarList.tsx
Due: none

Sync storybook deps
  applications/storybook/.eslintrc.js
  applications/storybook/package.json
  applications/storybook/src/stories/components/Modal.mdx
  yarn.lock
Due: prettier --write, sort-package-json

Sync tool dependencies
  applications/account/package.json
  applications/calendar/package.json
  applications/drive/package.json
  applications/mail/package.json
  applications/storybook/package.json
  applications/vpn-settings/package.json
  package.json
  packages/components/package.json
  packages/i18n/package.json
  packages/pack/package.json
  packages/shared/package.json
  packages/srp/package.json
  packages/styles/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Add renovate.json
  renovate.json
Due: prettier --write

Add configuration
  renovate.json
Due: prettier --write

Remove ampersand
  applications/account/src/app/containers/account/AccountLanguageAndTimeSettings.tsx
Due: none

Fix - improve vocalization of some ES buttons
  applications/mail/src/app/components/header/AdvancedSearchFields/LocationField.tsx
Due: none

Fix some capitalization in settings
  applications/account/src/app/containers/account/AccountAccountAndPasswordSettings.tsx
  applications/account/src/app/containers/mail/MailSettingsSidebarList.tsx
Due: none

Fix backup capitalisation
  applications/account/src/app/containers/mail/MailBackupAndExportSettings.tsx
Due: none

Add proxy variables
  .yarnrc.yml
Due: none

Revert change done in 98bb0259 that would create address values with undefined entries
  packages/components/containers/contacts/ContactAdrField.tsx
  packages/shared/lib/contacts/properties.ts
  packages/shared/lib/contacts/property.ts
Due: none

Revert change done in 71bb7512 that would create address values with undefined entries
  packages/components/containers/contacts/ContactAdrField.tsx
  packages/shared/lib/contacts/properties.ts
  packages/shared/lib/contacts/property.ts
Due: none

Revert change done in 38f0aef1 that would create address values with undefined entries
  packages/components/containers/contacts/ContactAdrField.tsx
  packages/shared/lib/contacts/properties.ts
  packages/shared/lib/contacts/property.ts
Due: none

Update Yarn to v3.1.1
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Group all renovate updates
  renovate.json
Due: prettier --write

Path conditions:
  prettier --write: (((any of: (*.ts|*.tsx|*.js)) or (any of: *.scss)) or (any of: *.json)) or (any of: *.md)
  eslint --fix: any of: (*.ts|*.tsx|*.js)
  stylelint --fix: any of: *.scss
  sort-package-json: any of: package.json
