Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

.lintstagedrc:

{
    "(*.ts|*.tsx|*.js)": [
        "prettier --write",
        "eslint --fix"
    ],
    "*.scss": [
        "prettier --write",
        "stylelint --fix"
    ],
    "*.json": "prettier --write",
    "*.md": "prettier --write",
    "package.json": "sort-package-json"
}

Create Kdb atom
  applications/mail/src/app/components/sidebar/MailSidebarPrimaryButton.tsx
  packages/atoms/Kbd/Kbd.mdx
  packages/atoms/Kbd/Kbd.scss
  packages/atoms/Kbd/Kbd.stories.tsx
  packages/atoms/Kbd/Kbd.test.tsx
  packages/atoms/Kbd/Kbd.tsx
  packages/atoms/Kbd/index.ts
  packages/atoms/index.ts
  packages/components/components/shortcuts/ShortcutsSectionView.tsx
  packages/styles/scss/base/_init.scss
  packages/styles/scss/components/_tooltip.scss
Due: prettier --write, stylelint --fix

Migrate <kdb /> usages to Kdb atom
  applications/mail/src/app/components/composer/ComposerTitleBar.tsx
  applications/mail/src/app/components/composer/actions/ComposerActions.tsx
  applications/mail/src/app/components/composer/actions/ComposerPasswordActions.tsx
  applications/mail/src/app/components/list/ItemStar.tsx
  applications/mail/src/app/components/message/extras/ExtraImages.tsx
  applications/mail/src/app/components/message/header/HeaderExpanded.tsx
  applications/mail/src/app/components/message/header/HeaderMoreDropdown.tsx
  applications/mail/src/app/components/toolbar/DeleteButton.tsx
  applications/mail/src/app/components/toolbar/EmptyButton.tsx
  applications/mail/src/app/components/toolbar/LabelsAndFolders.tsx
  applications/mail/src/app/components/toolbar/MoveButtons.tsx
  applications/mail/src/app/components/toolbar/NavigationControls.tsx
  applications/mail/src/app/components/toolbar/ReadUnreadButtons.tsx
Due: none

Catch invalid query selectors
  packages/components/containers/layout/PrivateMainSettingsArea.tsx
Due: none

Update use load call
  packages/components/hooks/useLoad.ts
Due: none

Revert "Merge branch 'turn-off-vpn-pop-up' into 'main'"
  packages/components/containers/offers/operations/blackFridayVPN1Deal2022/configuration.ts
  packages/components/containers/offers/operations/blackFridayVPN2Deal2022/configuration.ts
  packages/components/containers/offers/operations/blackFridayVPN3Deal2022/configuration.ts
Due: none

Upgrade Typescript target to ES2021
  tsconfig.base.json
Due: prettier --write

Replace MailParser in `CryptoApi.processMIME`
  applications/mail/jest.config.js
  applications/mail/src/app/helpers/attachment/attachmentConverter.ts
  applications/mail/src/app/helpers/mail.ts
  applications/mail/src/app/helpers/message/messageDecrypt.ts
  applications/mail/src/app/helpers/test/message.ts
  applications/mail/src/app/models/attachment.ts
  packages/crypto/lib/worker/api.models.ts
  packages/crypto/package.json
  packages/crypto/test/worker/decryptMessageLegacy.data.ts
  packages/crypto/test/worker/processMIME.data.ts
  packages/crypto/test/worker/worker.spec.ts
  yarn.lock
Due: prettier --write, sort-package-json

Add aria-hidden to loader
  packages/components/containers/app/LoaderPage.tsx
Due: none

Avoid to trigger several get last subscription
  packages/components/hooks/useLastSubscriptionEnd.ts
Due: none

Add additional information for discount
  packages/components/containers/offers/components/blackFriday/BlackFridayMailFooter.tsx
Due: none

Disable opening offer modal if subscription modal is open
  packages/components/components/topnavbar/TopNavbarOffer.tsx
  packages/components/containers/payments/subscription/SubscriptionModal.tsx
  packages/components/containers/payments/subscription/constants.ts
Due: none

chore(deps): update node.js to v18
  package.json
  packages/atoms/package.json
  packages/colors/package.json
  packages/i18n/package.json
  packages/pack/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Add full date to aria-label for screenreaders
  applications/mail/src/app/components/list/ItemDate.tsx
Due: none

Move unread dot in row mode to the left
  applications/mail/src/app/components/list/Item.tsx
  applications/mail/src/app/components/list/ItemRowLayout.tsx
  packages/styles/scss/specifics/_list.scss
Due: prettier --write, stylelint --fix

Prevent shrinkage
  packages/styles/scss/specifics/_list.scss
Due: prettier --write, stylelint --fix
