Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

.lintstagedrc:

{
    "(*.ts|*.tsx|*.js)": [
        "prettier --write",
        "eslint --fix",
    ],
    "*.scss": [
        "prettier --write",
        "stylelint --fix",
    ],
    "*.json": "prettier --write",
    "*.md": "prettier --write",
    "package.json": "sort-package-json",
}

Add user-select-none helper
  packages/styles/scss/helpers/_typo.scss
Due: prettier --write, stylelint --fix

Implement useComposerMove hook
  applications/mail/src/app/components/composer/ComposerFrame.tsx
  applications/mail/src/app/components/composer/ComposerTitleBar.tsx
  applications/mail/src/app/components/composer/composer.scss
  applications/mail/src/app/helpers/composerPositioning.ts
  applications/mail/src/app/hooks/composer/useComposerDrag.ts
Due: prettier --write, stylelint --fix

Fix storybook cursor story
  applications/storybook/src/stories/styles/Cursor.stories.mdx
  packages/styles/scss/helpers/_cursors.scss
Due: prettier --write, stylelint --fix

Can move composer when minimized
  applications/mail/src/app/components/composer/ComposerFrame.tsx
  applications/mail/src/app/components/composer/ComposerTitleBar.tsx
  applications/mail/src/app/hooks/composer/useComposerDrag.ts
Due: none

Manage composer mode change and update reset-offset action
  applications/mail/src/app/hooks/composer/useComposerDrag.ts
Due: none

Improve contexts for translators
  packages/components/containers/keys/addKey/SelectEncryption.tsx
Due: none

Rename x25519 to Curve25519
  packages/components/containers/keys/addKey/SelectEncryption.tsx
  packages/shared/lib/constants.ts
  packages/shared/lib/keys/calendarKeys.ts
  packages/shared/lib/keys/driveKeys.ts
  packages/shared/test/keys/keyDataHelper.ts
  packages/shared/test/keys/resetKeys.spec.ts
Due: none

[CP-2653] Refresh domains model when closing domain modal
  packages/components/containers/domains/DomainModal.js
Due: none

Compact phone input for embedding purposes
  applications/verification/src/app/Verification.tsx
  packages/components/components/v2/phone/CountrySelect.tsx
  packages/components/components/v2/phone/PhoneInput.tsx
  packages/components/containers/api/humanVerification/HumanVerificationForm.tsx
  packages/components/containers/api/humanVerification/PhoneMethodForm.tsx
Due: none

Use same spacing in request-new-code as in verification ui
  packages/components/containers/api/humanVerification/HumanVerificationForm.tsx
Due: none

Prepare account release 4.0.7
  applications/account/CHANGELOG.md
  applications/account/src/app/App.tsx
Due: prettier --write

Introduce the usage of the image proxy, improve remote image loading
  applications/mail/src/app/components/message/MessageBodyImage.tsx
  applications/mail/src/app/helpers/message/messageImages.ts
  applications/mail/src/app/helpers/message/messageRemotes.ts
  applications/mail/src/app/helpers/transforms/transformRemote.ts
  applications/mail/src/app/helpers/transforms/transforms.ts
  applications/mail/src/app/hooks/message/useLoadImages.ts
  applications/mail/src/app/models/message.ts
  packages/components/containers/api/ApiProvider.js
  packages/shared/lib/api/images.ts
Due: none

Support content location headers for embedded images
  applications/mail/src/app/components/composer/editor/SquireEditorWrapper.tsx
  applications/mail/src/app/helpers/message/messageEmbeddeds.ts
  applications/mail/src/app/helpers/message/messageImages.ts
  applications/mail/src/app/helpers/send/sendMimeBuilder.ts
  applications/mail/src/app/helpers/test/message.ts
  applications/mail/src/app/helpers/transforms/transformEmbedded.ts
  applications/mail/src/app/hooks/composer/useAttachments.ts
  applications/mail/src/app/models/message.ts
Due: none

Better position for tooltip
  applications/mail/src/app/components/list/ItemSpyTrackerIcon.scss
  applications/mail/src/app/components/list/ItemSpyTrackerIcon.tsx
  applications/mail/src/app/helpers/message/messageEmbeddeds.ts
  applications/mail/src/app/helpers/transforms/transformRemote.ts
Due: prettier --write, stylelint --fix

Added spy tracker spotlight
  applications/mail/src/app/components/list/ItemSpyTrackerIcon.tsx
  packages/components/containers/features/FeaturesContext.ts
Due: none

Add data-testid(s)
  packages/components/containers/emailPrivacy/EmailPrivacySection.tsx
  packages/components/containers/emailPrivacy/PreventTrackingToggle.tsx
  packages/components/containers/emailPrivacy/ProtectionModeSelect.tsx
  packages/components/containers/emailPrivacy/RemoteToggle.tsx
Due: none

Initialize Spy Tracker Protection feature
  applications/account/src/app/containers/mail/MailGeneralSettings.tsx
  applications/mail/src/app/MainContainer.tsx
  packages/components/containers/features/FeaturesContext.ts
  packages/components/containers/general/ImageProxyToggle.tsx
  packages/components/containers/general/SpyTrackerTemporarySection.tsx
  packages/components/containers/general/index.ts
  packages/shared/lib/api/mailSettings.ts
  packages/shared/lib/constants.ts
Due: none

Added tests for each cases when displaying the tracker icon
  applications/mail/src/app/components/list/ItemSpyTrackerIcon.test.tsx
  applications/mail/src/app/components/list/ItemSpyTrackerIcon.tsx
Due: none

Added loading remote images through proxy test
  applications/mail/src/app/helpers/transforms/tests/transformRemote.test.ts
Due: none

Added tests for spy tracker feature
  applications/mail/src/app/helpers/transforms/tests/transformEmbedded.test.ts
  applications/mail/src/app/helpers/transforms/tests/transformRemote.test.ts
Due: none

Changed Protect against email tracking URL
  applications/account/src/app/containers/mail/MailSettingsSidebarList.tsx
  packages/components/containers/emailPrivacy/EmailPrivacySection.tsx
Due: none

Fix - 9+ case in bubble
  applications/mail/src/app/components/list/ItemSpyTrackerIcon.scss
  applications/mail/src/app/components/list/ItemSpyTrackerIcon.tsx
  applications/mail/src/app/components/message/header/HeaderExpanded.tsx
  applications/mail/src/app/helpers/transforms/transformRemote.ts
Due: prettier --write, stylelint --fix

Added color weak state for spy tracker indicator and missing URL
  applications/mail/src/app/components/list/ItemSpyTrackerIcon.tsx
  applications/mail/src/app/constants.ts
  packages/components/containers/emailPrivacy/PreventTrackingToggle.tsx
Due: none

Review styles
  applications/mail/src/app/components/list/ItemSpyTrackerIcon.scss
  applications/mail/src/app/components/list/ItemSpyTrackerIcon.tsx
Due: prettier --write, stylelint --fix

Prevent spotlight to be closed automatically when feature flag value is changing
  applications/account/src/app/containers/mail/MailSettingsSidebarList.tsx
  packages/components/hooks/useSpotlightOnFeature.tsx
Due: none

Put back auto-load remote images setting in General setting when spy tracker feature flag is off
  packages/components/containers/messages/MessagesSection.tsx
Due: none

Added tracker protection section in settings
  applications/account/src/app/containers/mail/MailEmailPrivacySettings.tsx
  applications/account/src/app/containers/mail/MailGeneralSettings.tsx
  applications/account/src/app/containers/mail/MailSettingsRouter.tsx
  applications/account/src/app/containers/mail/MailSettingsSidebarList.tsx
  packages/components/containers/emailPrivacy/EmailPrivacySection.tsx
  packages/components/containers/emailPrivacy/PreventTrackingToggle.tsx
  packages/components/containers/emailPrivacy/ProtectionModeSelect.tsx
  packages/components/containers/emailPrivacy/RemoteToggle.tsx
  packages/components/containers/emailPrivacy/index.ts
  packages/components/containers/general/ImageProxyToggle.tsx
  packages/components/containers/general/SpyTrackerTemporarySection.tsx
  packages/components/containers/general/index.ts
  packages/components/containers/index.ts
  packages/components/containers/messages/MessagesSection.tsx
  packages/components/containers/messages/index.ts
Due: none
