Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

Update mail changelog
  applications/mail/CHANGELOG.md
Due: prettier --write

Improve label name creation to keep potential Separators in the name
  packages/components/containers/easySwitch/hooks/useIAMailPayload.ts
Due: none

Call the calendar model event manager (not the core event manager) on import calendar
  packages/components/containers/calendar/importModal/ImportModal.tsx
Due: none

Fix auto scroll
  applications/mail/src/app/components/message/MessageBody.tsx
Due: none

Fix highlight
  applications/drive/src/app/store/search/useESHelpers.tsx
  applications/mail/src/app/helpers/encryptedSearch/encryptedSearchMailHelpers.tsx
  applications/mail/src/app/helpers/encryptedSearch/esBuild.ts
  packages/encrypted-search/lib/constants.ts
  packages/encrypted-search/lib/esHelpers.ts
  packages/encrypted-search/lib/esHighlight.tsx
  packages/encrypted-search/lib/esUtils.ts
  packages/encrypted-search/lib/useEncryptedSearch.tsx
Due: none

Initialize import calendar modal only on render
  packages/components/containers/account/AccountEasySwitchSection.tsx
Due: none

Fix buttons stacking - contact widget
  packages/components/containers/contacts/widget/ImportCsvContactButton.tsx
Due: none

Add HTTP_STATUS_CODE to constants
  applications/drive/src/app/components/AppErrorBoundary.tsx
  applications/drive/src/app/components/DownloadShared/DownloadSharedContainer.tsx
  applications/drive/src/app/containers/PreviewContainer.tsx
  applications/drive/src/app/store/downloads/download/downloadBlocks.ts
  applications/drive/src/app/store/uploads/worker/upload.ts
  packages/shared/lib/constants.ts
  packages/shared/lib/drive/constants.ts
Due: none

Break out of reactivateUserKeys for loop if password prompt is cancelled
  packages/shared/lib/keys/reactivation/reactivateKeysProcessV2.ts
Due: none

Introduce IconName union type
  packages/components/components/icon/Icon.tsx
Due: none

Fix indent of tsconfig.json
  packages/components/tsconfig.json
Due: prettier --write

Fix icon/content alignment in logs table
  packages/components/containers/logs/LogsTable.tsx
Due: none

Fix alignment of composer font-size settings
  packages/components/containers/account/SettingsLayoutRight.scss
  packages/components/containers/layouts/MessagesOtherSection.tsx
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (((any of: (*.ts|*.tsx|*.js)) or (any of: *.scss)) or (any of: *.json)) or (any of: *.md)
  eslint --fix: any of: (*.ts|*.tsx|*.js)
  stylelint --fix: any of: *.scss
  sort-package-json: any of: package.json
