Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

.lintstagedrc:

{
    "(*.ts|*.tsx|*.js)": [
        "prettier --write",
        "eslint --fix"
    ],
    "*.scss": [
        "prettier --write",
        "stylelint --fix"
    ],
    "*.json": "prettier --write",
    "*.md": "prettier --write",
    "package.json": "sort-package-json"
}

Update typescript patterns
  renovate.json
Due: prettier --write

Fix domain name dropdown in user modal
  applications/account/src/app/signup/AccountStep.tsx
  packages/components/containers/addresses/AddressModal.tsx
  packages/components/containers/members/MemberModal.tsx
  packages/styles/scss/base/forms/_field-two.scss
Due: prettier --write, stylelint --fix

Fix Sentry issues
  applications/drive/src/app/components/DriveBreadcrumbs/DriveBreadcrumbs.tsx
  applications/drive/src/app/store/_downloads/DownloadProvider/useDownloadControl.ts
  applications/drive/src/app/store/_links/useLinksListing/useLinksListingHelpers.tsx
  applications/drive/src/app/store/_uploads/UploadProvider/useUploadControl.ts
  applications/drive/src/app/store/_utils/useDebouncedFunction.test.tsx
  applications/drive/src/app/store/_utils/useDebouncedFunction.ts
  applications/drive/src/app/store/_views/usePublicFolderView.tsx
  applications/drive/src/app/store/_views/useSearchView.tsx
  applications/drive/src/app/store/_views/useSharedLinksView.ts
  applications/drive/src/app/store/_views/useTrashView.ts
  packages/shared/lib/helpers/runInQueue.ts
Due: none

Add mail changelog for 5.0.13
  applications/mail/CHANGELOG.md
Due: prettier --write

Update copy
  applications/mail/CHANGELOG.md
Due: prettier --write

Add eslint Proton translation rule
  packages/eslint-config-proton/index.js
Due: none

Replace 'Proton Drive' usages with 'DRIVE_APP_NAME' to avoid translation
  applications/drive/src/app/components/RemoveDeviceModal/RemoveDeviceModal.tsx
  applications/drive/src/app/components/SharedPage/SharedPageLayout.tsx
  applications/drive/src/app/components/onboarding/DriveOnboardingModal.tsx
  applications/drive/src/app/components/onboarding/GiftFloatingButton.tsx
  applications/drive/src/app/components/sections/Devices/EmptyDevices.tsx
Due: none

Replace 'Proton Mail' usages with 'Mail_APP_NAME' to avoid translation
  applications/mail/src/app/components/composer/modals/ComposerExpirationModal.tsx
  applications/mail/src/app/components/composer/modals/ComposerPasswordModal.tsx
  packages/components/containers/filters/FilterWarningModal.tsx
Due: none

Replace 'Proton Unlimited' plan usages with 'PLAN_NAMES[PLANS.BUNDLE]' to avoid translation
  packages/components/containers/offers/operations/goUnlimited2022/Layout.tsx
  packages/components/containers/offers/operations/specialOffer2022/Layout.tsx
Due: none

Remove `ACCOUNT_APP_NAME` to allow for translations
  applications/account/src/app/public/OAuthConfirmForkContainer.tsx
  applications/mail/src/app/components/simpleLogin/SimpleLoginModal.tsx
  packages/shared/lib/constants.ts
Due: none

Remove getAppName usages in favour of app name constants
  applications/account/src/app/signup/ReferralStep.tsx
  applications/account/src/app/signup/SignupContainer.tsx
  applications/drive/src/app/components/ResolveLockedVolumes/KeyReactivation/DeleteLockedVolumesConfirmModal.tsx
  applications/drive/src/app/components/ResolveLockedVolumes/KeyReactivation/LockedVolumesResolveMethodModal.tsx
  applications/drive/src/app/components/ResolveLockedVolumes/KeyReactivation/UnlockDriveConfirmationDialog.tsx
  applications/drive/src/app/components/onboarding/DriveOnboardingModal.tsx
  applications/drive/src/app/containers/DriveContainerBlurred.tsx
  applications/mail/src/app/components/checklist/ModalGetMobileApp.tsx
  applications/mail/src/app/components/message/extras/calendar/ExtraEventWarning.tsx
  applications/mail/src/app/components/view/WelcomePaneBanner.tsx
  applications/mail/src/app/helpers/calendar/inviteLink.tsx
  packages/components/containers/app/AppsDropdown.tsx
  packages/components/containers/mail/MailShortcutsModal.tsx
  packages/components/containers/overview/SummarySection.tsx
  packages/components/containers/payments/subscription/CalendarDowngradeModal.tsx
  packages/components/containers/payments/subscription/UpsellPanel.tsx
  packages/components/containers/referral/invite/InviteSendEmailRecipient.tsx
  packages/components/containers/referral/invite/InviteShareLink.tsx
Due: none

Fix mail BRAND_NAME eslint issue
  packages/components/containers/payments/features/mail.ts
Due: none

Remove CALENDAR_APP_NAME from calendar constants
  applications/calendar/src/app/components/onboarding/CalendarOnboardingModal.tsx
  applications/mail/src/app/components/message/extras/calendar/EmailReminderWidget.test.tsx
  applications/mail/src/app/components/message/extras/calendar/EmailReminderWidget.tsx
  applications/mail/src/app/components/message/extras/calendar/ExtraEventImportButton.tsx
  packages/components/containers/calendar/importModal/ImportInvitationModalContent.tsx
  packages/components/containers/calendar/importModal/PartialImportModalContent.tsx
  packages/components/containers/calendar/settings/CalendarImportSection.tsx
  packages/shared/lib/calendar/constants.ts
Due: none

Replace 'Proton Calendar' usages with 'CALENDAR_APP_NAME' to avoid translation
  packages/shared/lib/calendar/subscribe/helpers.ts
Due: none
