Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

DRVWEB-1278 [web] Allow user to remove custom password
  applications/drive/src/app/components/DowloadShared/DownloadSharedContainer.tsx
  applications/drive/src/app/components/SharingModal/GeneratedLinkState.tsx
  applications/drive/src/app/components/SharingModal/SharingModal.tsx
  applications/drive/src/app/hooks/drive/useSharing.ts
  applications/drive/src/app/utils/link.test.ts
  applications/drive/src/app/utils/link.ts
Due: none

Preview, download and details toolbar buttons in Trash
  applications/drive/src/app/components/Drive/Trash/TrashToolbar.tsx
  applications/drive/src/app/components/FileBrowser/ItemContextMenu.tsx
  applications/drive/src/app/containers/PreviewContainer.tsx
  applications/drive/src/app/hooks/drive/useNavigate.ts
Due: none

Disable download of folders in trash until API allows that
  applications/drive/src/app/components/Drive/Trash/TrashToolbar.tsx
  applications/drive/src/app/components/FileBrowser/ItemContextMenu.tsx
  applications/drive/src/app/components/FileBrowser/ToolbarButtons/DownloadButton.tsx
Due: none

[CALWEB-2145] Add a calendar from the sidebar
  applications/calendar/src/app/containers/calendar/CalendarSidebar.tsx
  packages/components/containers/calendar/calendarModal/CalendarModal.tsx
  packages/components/containers/calendar/hooks/useGetCalendarActions.ts
  packages/shared/lib/calendar/getHasUserReachedCalendarLimit.ts
Due: none

Change scaleProps selection from Pick to Omit
  packages/components/containers/heading/FeedbackModal.tsx
Due: none

Update calendar feedback modal scale labels
  applications/calendar/src/app/containers/calendar/CalendarContainerView.tsx
  applications/mail/src/app/components/header/MailHeader.tsx
  packages/components/containers/heading/FeedbackModal.tsx
Due: none

Use ScaleProps in FeedbackModal
  applications/calendar/src/app/containers/calendar/CalendarContainerView.tsx
  applications/mail/src/app/components/header/MailHeader.tsx
  packages/components/components/input/Scale.tsx
  packages/components/components/input/index.ts
  packages/components/containers/heading/FeedbackModal.tsx
Due: none

Lower scaleProps precedents
  packages/components/containers/heading/FeedbackModal.tsx
Due: none

Fix minicalendar causing jiggling by using aspect-ratio
  packages/styles/scss/components/_minicalendar.scss
Due: prettier --write, stylelint --fix

Settle the element rect computation
  packages/components/hooks/useElementRect.ts
Due: none

Fix the number of free VPN server count
  applications/vpn-settings/src/app/containers/SignupContainer/plans.js
  applications/vpn-settings/src/app/containers/SignupContainer/useSignup.js
  packages/components/containers/payments/subscription/PlanSelection.tsx
  packages/components/containers/payments/subscription/VPNFeatures.tsx
  packages/components/hooks/index.ts
  packages/components/hooks/useVPNServersCount.ts
  packages/shared/lib/interfaces/VPN.ts
Due: none

Add fingerprinting to VPN sign in
  applications/account/src/app/login/LoginForm.tsx
  applications/account/src/app/signup/CreateAccountForm.tsx
  applications/account/src/app/signup/RecoveryForm.tsx
  applications/vpn-settings/src/app/components/layout/SignInLayout.tsx
  applications/vpn-settings/src/app/containers/LoginContainer.tsx
  applications/vpn-settings/src/app/containers/SignupContainer/AccountStep/AccountForm.js
  packages/components/components/challenge/Challenge.tsx
  packages/components/containers/login/MinimalLoginContainer.tsx
Due: none

Remove imagemin plugin
  packages/components/typings/index.d.ts
  packages/pack/package.json
  packages/pack/webpack/plugins.js
  yarn.lock
Due: prettier --write, sort-package-json

Add new ButtonGroup variants
  applications/mail/src/app/components/composer/composer.scss
  applications/storybook/src/stories/components/Button.mdx
  applications/storybook/src/stories/components/Button.stories.tsx
  applications/storybook/src/stories/components/ButtonGroup.mdx
  applications/storybook/src/stories/components/ButtonGroup.stories.tsx
  packages/components/components/button/ButtonGroup.tsx
  packages/components/components/button/ButtonLike.tsx
  packages/styles/scss/base/_buttons.scss
  packages/styles/scss/components/_button-group.scss
  packages/styles/scss/components/_input-button.scss
Due: prettier --write, stylelint --fix

Update the changelog for ProtonCalendar v4.0.2
  applications/calendar/CHANGELOG.md
  applications/calendar/src/app/App.tsx
Due: prettier --write

[VPNFE-199] PAYPAL_CREDIT has to send Payment
  applications/vpn-settings/src/app/containers/SignupContainer/useSignup.js
Due: none

Update the changelog for ProtonAccount v4.0.2
  applications/account/CHANGELOG.md
  applications/account/src/app/App.tsx
Due: prettier --write

Pass ref to sidebar list item header link
  packages/components/components/sidebar/SidebarListItemHeaderLink.tsx
Due: none

Calendar sidebar actions
  applications/account/src/app/containers/calendar/CalendarCalendarsSettings.tsx
  applications/calendar/src/app/containers/calendar/CalendarSidebar.tsx
  applications/calendar/src/app/containers/calendar/CalendarSidebarListItems.scss
  applications/calendar/src/app/containers/calendar/CalendarSidebarListItems.tsx
  applications/calendar/src/app/helpers/color.ts
  packages/components/containers/calendar/settings/CalendarsSection.tsx
  packages/components/containers/calendar/settings/CalendarsTable.tsx
  packages/components/containers/calendar/settings/SubscribedCalendarsSection.tsx
  packages/components/containers/calendar/shareURL/ShareTable.tsx
  packages/components/hooks/useSubscribedCalendars.ts
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (((any of: (*.ts|*.tsx|*.js)) or (any of: *.scss)) or (any of: *.json)) or (any of: *.md)
  eslint --fix: any of: (*.ts|*.tsx|*.js)
  stylelint --fix: any of: *.scss
  sort-package-json: any of: package.json
