Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

Always show sender in list view, even for send/draft messages
  applications/mail/src/app/components/list/Item.tsx
Due: none

Prevent media query prefers-color-scheme: dark to avoid colors issues
  packages/shared/lib/sanitize/escape.ts
Due: none

Workaround prefers-reduced-motion bug for webkit
  packages/styles/scss/base/_media.scss
Due: prettier --write, stylelint --fix

chore(deps): update dependency lint-staged to v13
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Fix perf bottleneck
  packages/components/containers/easySwitch/mail/helpers.ts
Due: none

Show only enabled adress when importing emails
  packages/components/containers/easySwitch/mail/modals/CustomizeMailImportModal.tsx
Due: none

Fix merging encryption settings parsed as boolean when string are expected
  packages/shared/lib/contacts/properties.ts
Due: none

Migrate sentry v7
  packages/components/containers/challenge/challengeHelper.ts
  packages/components/containers/topBanners/TimeOutOfSyncTopBanner.tsx
  packages/shared/lib/helpers/sentry.ts
Due: none

Update dependency @sentry/browser to v7
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Update dependency karma-jasmine to v5
  packages/encrypted-search/package.json
  packages/key-transparency/package.json
  packages/shared/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Update dependency jest-junit to v14
  applications/account/package.json
  applications/calendar/package.json
  applications/drive/package.json
  applications/mail/package.json
  applications/verify/package.json
  yarn.lock
Due: prettier --write, sort-package-json

Add footer to plain text emails
  applications/mail/src/app/components/message/helpers/getIframeHtml.ts
Due: none

Move index prop on RecipienList
  applications/mail/src/app/components/message/recipients/RecipientsList.tsx
Due: none

Fix app icons in readme
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (((any of: (*.ts|*.tsx|*.js)) or (any of: *.scss)) or (any of: *.json)) or (any of: *.md)
  eslint --fix: any of: (*.ts|*.tsx|*.js)
  stylelint --fix: any of: *.scss
  sort-package-json: any of: package.json
