Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

.lintstagedrc:

{
    "(*.ts|*.tsx|*.js)": [
        "prettier --write",
        "eslint --fix"
    ],
    "*.scss": [
        "prettier --write",
        "stylelint --fix"
    ],
    "*.json": "prettier --write",
    "*.md": "prettier --write",
    "package.json": "sort-package-json"
}

Fix React warning about missing key
  applications/drive/src/app/components/ShareLinkModal/GeneratedLinkState.tsx
Due: none

Add data-testids and some other minors changes after CR
  packages/components/containers/filePreview/Header.tsx
  packages/components/containers/filePreview/NavigationControl.tsx
Due: none

Remove @proton/get-random-values and use directly `crypto.getRandomValues`
  applications/calendar/jest.setup.js
  findApp.config.mjs
  packages/components/containers/vpn/WireGuardConfigurationSection/WireGuardConfigurationSection.tsx
  packages/get-random-values/index.d.ts
  packages/get-random-values/index.js
  packages/get-random-values/package.json
  packages/pack/webpack/constants.js
  packages/shared/lib/authentication/persistedSessionHelper.ts
  packages/shared/lib/authentication/sessionForking.ts
  packages/shared/lib/calendar/helper.ts
  packages/shared/lib/helpers/crossTab.ts
  packages/shared/lib/helpers/crypto.ts
  packages/shared/lib/helpers/secureSessionStorage.ts
  packages/shared/lib/helpers/twofa.ts
  packages/shared/lib/keys/addressKeys.ts
  packages/shared/lib/keys/calendarKeys.ts
  packages/shared/lib/keys/driveKeys.ts
  packages/shared/lib/keys/memberToken.ts
  packages/shared/lib/mnemonic/bip39Wrapper.ts
  packages/shared/lib/recoveryFile/recoveryFile.ts
  packages/shared/package.json
  packages/shared/test/authentication/loginWithFallback.spec.js
  packages/shared/test/calendar/serialize.spec.js
  packages/shared/test/helpers/secureSessionStorage.spec.js
  packages/shared/test/mockRandomValues.js
  packages/srp/lib/keys.ts
  packages/srp/lib/srp.spec.ts
  packages/srp/lib/srp.ts
  packages/srp/package.json
  packages/testing/README.md
  packages/testing/index.ts
  packages/testing/lib/mockRandomValues.ts
  packages/utils/getRandomString.test.ts
  packages/utils/getRandomString.ts
  packages/utils/jest.config.js
  packages/utils/jest.env.js
  packages/utils/jest.setup.js
  tsconfig.base.json
  yarn.lock
Due: prettier --write, sort-package-json

Make composer line height bigger to prevent height jumps when adding emojis MAILWEB-3471
  packages/components/components/editor/rooster/RoosterEditorIframe.raw.scss
Due: prettier --write, stylelint --fix

Message view default line height is now 1.5
  applications/mail/src/app/components/message/MessageIframe.raw.scss
Due: prettier --write, stylelint --fix

Use text-break OR text-ellipsis in Option, but not both
  packages/components/components/option/Option.tsx
Due: none

Revert "Merge branch 'es-feature-demo' into 'main'"
  applications/mail/src/app/MainContainer.tsx
  applications/mail/src/app/components/header/search/AdvancedSearchFields/EncryptedSearchField.tsx
  applications/mail/src/app/components/header/search/MailSearch.tsx
  applications/mail/src/app/components/list/ItemColumnLayout.tsx
  applications/mail/src/app/components/list/ItemRowLayout.tsx
  applications/mail/src/app/components/list/List.tsx
  applications/mail/src/app/components/list/useEncryptedSearchItem.tsx
  applications/mail/src/app/components/list/useEncryptedSearchList.tsx
  applications/mail/src/app/constants.ts
  applications/mail/src/app/containers/EncryptedSearchProvider.tsx
  applications/mail/src/app/helpers/encryptedSearch/partialES.ts
  applications/mail/src/app/models/encryptedSearch.ts
  packages/components/containers/features/FeaturesContext.ts
  packages/encrypted-search/lib/esHelpers/esAPI.ts
  packages/encrypted-search/lib/esIDB/indexedDB.ts
  packages/encrypted-search/lib/models/esFunctions.ts
  packages/encrypted-search/lib/models/interfaces.ts
  packages/encrypted-search/lib/useEncryptedSearch.tsx
Due: none

Revert "Merge branch 'es-fix-partial-ff' into 'main'"
  applications/mail/src/app/containers/EncryptedSearchProvider.tsx
Due: none

Disallow svg attachments in bug report form
  packages/components/containers/support/AttachScreenshot.tsx
Due: none

Remove trash all action from the All mail folder MAILWEB-3482
  applications/mail/src/app/components/toolbar/MoreDropdown.tsx
Due: none

Update short domain banner message
  packages/components/containers/addresses/AddressModal.tsx
Due: none

Fix disabled input when creating a contact group during contact import MAILWEB-3481
  packages/components/containers/contacts/import/steps/ContactImportGroups.tsx
Due: none

Fix scheduled modal appearing when moving a conversation which does not contain scheduled anymore MAILWEB-3466
  applications/mail/src/app/hooks/useApplyLabels.tsx
Due: none
