Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

.lintstagedrc:

{
    "(*.ts|*.tsx|*.js)": [
        "prettier --write",
        "eslint --fix"
    ],
    "*.scss": [
        "prettier --write",
        "stylelint --fix"
    ],
    "*.json": "prettier --write",
    "*.md": "prettier --write",
    "package.json": "sort-package-json"
}

Add dynamic logical css loading
  applications/vpn-settings/package.json
  applications/vpn-settings/src/app/App.tsx
  packages/pack/bin/protonPack.js
  packages/pack/webpack.config.js
  packages/pack/webpack/css.loader.js
  packages/pack/webpack/plugins.js
  packages/pack/webpack/postcss-logical-webpack-plugin/index.js
  packages/shared/lib/logical/logical.tsx
Due: prettier --write, sort-package-json

Improve RTL display
  packages/components/components/v2/input/Input.tsx
  packages/components/components/v2/phone/PhoneInput.tsx
  packages/styles/scss/base/forms/_toggle.scss
Due: prettier --write, stylelint --fix

Fix sidebar animation in RTL
  packages/styles/scss/layout/_structure.scss
Due: prettier --write, stylelint --fix

hotfix - fix checkbox broken positionning
  packages/styles/scss/base/forms/_checkbox.scss
Due: prettier --write, stylelint --fix

Remove useless alt on load content spotlight
  applications/mail/src/app/components/message/LoadContentSpotlight.tsx
Due: none

Allow blocking sender from context menu in the message list MAILWEB-3643
  applications/mail/src/app/components/list/ItemContextMenu.tsx
  applications/mail/src/app/components/list/List.tsx
  applications/mail/src/app/components/list/useItemContextMenu.tsx
  applications/mail/src/app/hooks/useBlockSender.tsx
Due: none

Auto popup offers after welcome flow is complete
  applications/calendar/src/app/containers/calendar/MainContainer.tsx
  applications/drive/src/app/containers/MainContainer.tsx
  applications/mail/src/app/containers/PageContainer.tsx
  packages/components/components/topnavbar/TopNavbarOffer.tsx
  packages/components/containers/v5WelcomeModal/useShouldOpenV5WelcomeModal.ts
  packages/components/hooks/useWelcomeFlags.ts
Due: none

Remove welcome v5 modal
  applications/calendar/src/app/containers/calendar/CalendarStartupModals.tsx
  applications/drive/src/app/containers/DriveStartupModals.tsx
  applications/mail/src/app/containers/MailStartupModals.tsx
  applications/mail/src/app/containers/PageContainer.test.tsx
  packages/components/containers/features/FeaturesContext.ts
  packages/components/containers/index.ts
  packages/components/containers/v5WelcomeModal/V5WelcomeModal.tsx
  packages/components/containers/v5WelcomeModal/assets/Calendar.svg
  packages/components/containers/v5WelcomeModal/assets/Drive.svg
  packages/components/containers/v5WelcomeModal/assets/Mail.svg
  packages/components/containers/v5WelcomeModal/index.ts
  packages/components/containers/v5WelcomeModal/useShouldOpenV5WelcomeModal.ts
Due: none

[MAILWEB-3659] Don't suggest move all if in custom label
  applications/mail/src/app/components/dropdown/LabelDropdown.tsx
  applications/mail/src/app/containers/mailbox/MailboxContainer.tsx
  applications/mail/src/app/hooks/actions/useMoveToFolder.tsx
  applications/mail/src/app/hooks/mailbox/useMailboxHotkeys.tsx
  applications/mail/src/app/hooks/message/useMessageHotkeys.tsx
Due: none

Add another missing plural
  applications/mail/src/app/helpers/addresses.ts
Due: none

Define valid app for BF offers
  packages/components/containers/offers/operations/blackFridayMail2022/eligibility.ts
  packages/components/containers/offers/operations/blackFridayMailFree2022/eligibility.ts
  packages/components/containers/offers/operations/blackFridayMailPro2022/eligibility.ts
Due: none

Fix external account verification step
  applications/account/src/app/signup/SignupContainer.tsx
Due: none

Use color-weak when link is expanded
  packages/styles/scss/layout/_navigation.scss
Due: prettier --write, stylelint --fix

Swap delete and archive buttons
  applications/mail/src/app/components/list/ItemHoverButtons.tsx
Due: none
