Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

.lintstagedrc:

{
    "(*.ts|*.tsx|*.js)": [
        "prettier --write",
        "eslint --fix",
    ],
    "*.scss": [
        "prettier --write",
        "stylelint --fix",
    ],
    "*.json": "prettier --write",
    "*.md": "prettier --write",
    "package.json": "sort-package-json",
}

Fix outline-none
  packages/components/components/modalTwo/Modal.tsx
  packages/styles/scss/helpers/_outline.scss
Due: prettier --write, stylelint --fix

border-bottom-children → divide-y
  applications/account/src/app/signup/SignupContainer.tsx
  packages/components/containers/payments/subscription/SubscriptionModal.tsx
  packages/styles/scss/helpers/_border.scss
Due: prettier --write, stylelint --fix

no-border → border-none
  applications/calendar/src/app/components/eventModal/inputs/ParticipantsInput.tsx
  applications/drive/src/app/components/FileBrowser/ListView/ListView.tsx
  applications/drive/src/app/components/ShareLinkModal/GeneratedLinkState.tsx
  applications/drive/src/app/components/TransferManager/Toolbar.tsx
  applications/mail/src/app/components/composer/ComposerActions.tsx
  applications/mail/src/app/components/composer/ComposerTitleBar.tsx
  applications/mail/src/app/components/header/AdvancedSearchFields/LocationField.tsx
  applications/mail/src/app/components/header/AdvancedSearchFields/LocationFieldDropdown.tsx
  applications/mail/src/app/components/list/ItemStar.tsx
  applications/mail/src/app/components/message/extras/ExtraImages.tsx
  applications/mail/src/app/components/message/header/HeaderExpanded.tsx
  applications/mail/src/app/components/message/header/HeaderMoreDropdown.tsx
  applications/mail/src/app/components/sidebar/MailSidebar.tsx
  applications/mail/src/app/components/toolbar/DeleteButton.tsx
  applications/mail/src/app/components/toolbar/EmptyButton.tsx
  applications/mail/src/app/components/toolbar/MoveButtons.tsx
  applications/mail/src/app/components/toolbar/NavigationControls.tsx
  applications/mail/src/app/components/toolbar/ReadUnreadButtons.tsx
  applications/mail/src/app/components/toolbar/Toolbar.tsx
  applications/storybook/src/stories/styles/BorderOutlineRadiuses.stories.mdx
  applications/vpn-settings/src/app/components/sections/plans/PlansTable.js
  applications/vpn-settings/src/app/containers/TVContainer.tsx
  packages/components/components/calendarSelect/CalendarSelect.tsx
  packages/components/components/editor/toolbar/SquireToolbarMoreDropdown.tsx
  packages/components/containers/autoReply/AutoReplySection.tsx
  packages/components/containers/contacts/ContactGroupTable.tsx
  packages/components/containers/contacts/ContactGroupsTable.tsx
  packages/components/containers/contacts/ContactsGroupsList.tsx
  packages/components/containers/contacts/ContactsList.tsx
  packages/components/containers/easySwitch/calendar/modals/CustomizeCalendarImportModal.tsx
  packages/components/containers/easySwitch/steps/IASelectImportTypeStep.tsx
  packages/components/containers/filters/SortableList.tsx
  packages/components/containers/labels/LabelSortableList.tsx
  packages/components/containers/payments/subscription/Features.tsx
  packages/styles/scss/components/_simple-table.scss
  packages/styles/scss/helpers/_containers.scss
  packages/styles/scss/helpers/_misc.scss
  packages/styles/scss/helpers/_responsive.scss
  packages/styles/scss/specifics/_list.scss
Due: prettier --write, stylelint --fix

Refacto
  packages/styles/scss/config/_index.scss
  packages/styles/scss/config/functions/_dash-join.scss
  packages/styles/scss/config/functions/_logical.scss
  packages/styles/scss/config/functions/_placement-to-logical.scss
  packages/styles/scss/config/mixins/_margin-generator.scss
  packages/styles/scss/config/mixins/_padding-generator.scss
  packages/styles/scss/config/mixins/_spacing-generator.scss
  packages/styles/scss/helpers/_border.scss
  packages/styles/scss/helpers/_responsive.scss
  packages/styles/scss/helpers/_spacing.scss
Due: prettier --write, stylelint --fix

Rewrite documentation
  applications/storybook/src/stories/styles/Border.stories.mdx
  applications/storybook/src/stories/styles/BorderOutlineRadiuses.stories.mdx
  applications/storybook/src/stories/styles/BorderRadius.stories.mdx
  applications/storybook/src/stories/styles/Divide.stories.mdx
  applications/storybook/src/stories/styles/Shadow.stories.mdx
Due: none

Reordering
  packages/styles/scss/helpers/_containers.scss
  packages/styles/scss/helpers/_misc.scss
Due: prettier --write, stylelint --fix

Reordering
  packages/styles/scss/helpers/_border.scss
  packages/styles/scss/helpers/_divide.scss
  packages/styles/scss/helpers/_index.scss
Due: prettier --write, stylelint --fix

no-outline → outline-none
  applications/calendar/src/app/components/events/PopoverContainer.tsx
  applications/drive/src/app/components/FileBrowser/GridView/ItemCell.tsx
  applications/drive/src/app/components/FileBrowser/ListView/ItemRow.tsx
  applications/drive/src/app/components/TransferManager/TransferManager.tsx
  applications/mail/src/app/components/attachment/AttachmentList.tsx
  applications/mail/src/app/components/composer/ComposerFrame.tsx
  applications/mail/src/app/components/conversation/ConversationView.tsx
  applications/mail/src/app/components/conversation/TrashWarning.tsx
  applications/mail/src/app/components/message/MessageOnlyView.tsx
  applications/mail/src/app/components/message/MessageView.tsx
  applications/mail/src/app/components/sidebar/MailSidebarList.tsx
  applications/mail/src/app/containers/mailbox/MailboxContainer.tsx
  applications/storybook/src/stories/styles/BorderOutlineRadiuses.stories.mdx
  applications/storybook/src/stories/styles/MiscCssListClickTapZonePrintDark.stories.mdx
  packages/components/components/dropdown/Dropdown.tsx
  packages/components/components/modal/Dialog.js
  packages/components/components/modal/Title.tsx
  packages/components/components/option/Option.tsx
  packages/components/components/selectTwo/SelectButton.tsx
  packages/components/components/sidebar/Sidebar.tsx
  packages/components/components/v2/phone/CountrySelectRow.tsx
  packages/components/containers/contacts/ContactList.tsx
  packages/components/containers/contacts/ContactsGroupsList.tsx
  packages/components/containers/contacts/ContactsList.tsx
  packages/components/containers/easySwitch/calendar/modals/CustomizeCalendarImportRow.tsx
  packages/styles/scss/helpers/_index.scss
  packages/styles/scss/helpers/_outline.scss
  packages/styles/scss/helpers/_typo.scss
Due: prettier --write, stylelint --fix

Split file
  packages/styles/scss/helpers/_border.scss
  packages/styles/scss/helpers/_index.scss
  packages/styles/scss/helpers/_rounded.scss
  packages/styles/scss/helpers/_shadow.scss
Due: prettier --write, stylelint --fix

Unify alarm copy with the email reminder widget
  packages/shared/lib/calendar/getAlarmMessageText.ts
  packages/shared/test/calendar/alarms.spec.ts
Due: none

Added a Form component
  packages/components/components/modalTwo/Modal.tsx
  packages/components/components/popper/usePopperAnchor.ts
  packages/components/components/tooltip/Tooltip.tsx
  packages/components/components/v2/field/InputField.tsx
  packages/components/containers/calendar/calendarModal/CalendarModal.tsx
  packages/components/containers/calendar/subscribeCalendarModal/SubscribeCalendarModal.tsx
  packages/components/containers/form/Form.tsx
  packages/components/containers/form/index.ts
  packages/components/containers/index.ts
Due: none

Restructuring and refactoring
  packages/components/components/form/Form.tsx
  packages/components/components/form/index.ts
  packages/components/components/index.ts
  packages/components/components/modalTwo/Modal.tsx
  packages/components/components/popper/usePopperAnchor.ts
  packages/components/components/tooltip/Tooltip.tsx
  packages/components/components/tooltip/TooltipExclusive.tsx
  packages/components/components/tooltip/index.ts
  packages/components/components/v2/field/InputField.tsx
  packages/components/containers/calendar/calendarModal/CalendarModal.tsx
  packages/components/containers/calendar/subscribeCalendarModal/SubscribeCalendarModal.tsx
  packages/components/containers/form/Form.tsx
  packages/components/containers/index.ts
Due: none

Update typings.d.ts to allow *.raw.scss in @proton/components
  applications/mail/typings/index.d.ts
  packages/components/typings/index.d.ts
Due: none

Add Optionnal type util
  packages/shared/lib/interfaces/utils.ts
Due: none

Add roosterjs dependency to @proton/components
  packages/components/package.json
  yarn.lock
Due: prettier --write, sort-package-json
