Repository ProtonMail/WebClients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, sort-package-json

Add dynamic positioning calculation
  packages/components/containers/notifications/Container.tsx
  packages/components/containers/notifications/Notification.tsx
  packages/components/containers/notifications/interfaces.ts
  packages/components/containers/notifications/manager.tsx
  packages/styles/scss/components/_notification.scss
Due: prettier --write, stylelint --fix

Introduce shifted prop
  packages/styles/scss/components/_notification.scss
Due: prettier --write, stylelint --fix

Fix notification sizing
  packages/styles/scss/components/_notification.scss
Due: prettier --write, stylelint --fix

Add example with circular loader
  applications/storybook/src/stories/components/Notification.stories.tsx
  packages/styles/scss/components/_notification.scss
Due: prettier --write, stylelint --fix

Deduplicate all types of notifications by default
  applications/storybook/src/stories/components/Notification.mdx
  packages/components/containers/notifications/manager.test.tsx
  packages/components/containers/notifications/manager.tsx
Due: none

Animation fine tuning
  packages/styles/scss/components/_notification.scss
Due: prettier --write, stylelint --fix

Invert notification order
  packages/components/containers/notifications/manager.test.tsx
  packages/components/containers/notifications/manager.tsx
Due: none

Use large cross icon
  packages/components/containers/notifications/NotificationButton.tsx
Due: none

Remove period from drive notification
  applications/drive/src/app/store/_actions/useListNotifications.tsx
Due: none

New build your own section for Storybook
  applications/storybook/src/stories/components/Notification.mdx
  applications/storybook/src/stories/components/Notification.stories.tsx
  packages/styles/scss/components/_notification.scss
Due: prettier --write, stylelint --fix

Hide close button where disableAutoClose was true before
  applications/mail/src/app/hooks/composer/useCloseHandler.tsx
  applications/mail/src/app/hooks/eo/useSendEO.tsx
  applications/mail/src/app/hooks/message/useKeyVerification.tsx
Due: none

Remove auto close on notification click
  applications/drive/src/app/components/SharedPage/SharedPageHeader.tsx
  applications/mail/src/app/hooks/composer/useCloseHandler.tsx
  applications/mail/src/app/hooks/composer/useSendHandler.tsx
  applications/mail/src/app/hooks/eo/useSendEO.tsx
  applications/mail/src/app/hooks/message/useKeyVerification.tsx
  packages/components/containers/notifications/Container.tsx
  packages/components/containers/notifications/Notification.tsx
  packages/components/containers/notifications/interfaces.ts
  packages/components/containers/notifications/manager.tsx
Due: none

Use ResizeObserver to calculate positions
  packages/components/containers/notifications/Container.tsx
Due: none

Integrate in mail
  applications/mail/src/app/components/notifications/MoveAllNotificationButton.tsx
  applications/mail/src/app/components/notifications/SendingMessageNotification.tsx
  applications/mail/src/app/components/notifications/UndoActionNotification.tsx
  applications/mail/src/app/components/notifications/UndoButton.tsx
  applications/mail/src/app/components/notifications/UndoNotificationButton.tsx
  applications/mail/src/app/hooks/actions/useMoveToFolder.tsx
  applications/storybook/src/stories/components/Notification.stories.tsx
  packages/components/components/button/NotificationButton.tsx
  packages/components/components/button/index.ts
  packages/components/containers/notifications/Notification.tsx
  packages/components/containers/notifications/NotificationButton.tsx
  packages/components/containers/notifications/index.ts
  packages/components/containers/notifications/interfaces.ts
  packages/components/containers/notifications/notificationContext.ts
Due: none

Add gap between notifications
  packages/components/containers/notifications/Container.tsx
Due: none

Adapt notification stylings
  applications/mail/src/app/components/notifications/SendingMessageNotification.tsx
  applications/mail/src/app/hooks/composer/useSendHandler.tsx
  applications/mail/src/app/hooks/composer/useSendMessage.tsx
  applications/storybook/src/stories/components/Notification.stories.tsx
  packages/colors/themes/dist/carbon.theme.css
  packages/colors/themes/dist/classic.theme.css
  packages/colors/themes/dist/contrast.theme.css
  packages/colors/themes/dist/duotone.theme.css
  packages/colors/themes/dist/legacy.theme.css
  packages/colors/themes/dist/monokai.theme.css
  packages/colors/themes/dist/snow.theme.css
  packages/colors/themes/src/carbon/standard-base.css
  packages/colors/themes/src/classic/standard-base.css
  packages/colors/themes/src/contrast/standard-base.css
  packages/colors/themes/src/duotone/standard-base.css
  packages/colors/themes/src/legacy/standard-base.css
  packages/colors/themes/src/monokai/standard-base.css
  packages/colors/themes/src/snow/standard-base.css
  packages/components/components/icon/Icon.tsx
  packages/components/containers/notifications/Container.tsx
  packages/components/containers/notifications/Notification.tsx
  packages/components/containers/notifications/interfaces.ts
  packages/components/containers/notifications/manager.tsx
  packages/styles/assets/img/icons/sprite-icons.svg
  packages/styles/scss/base/custom-properties/_optionals.scss
  packages/styles/scss/components/_notification.scss
Due: prettier --write, stylelint --fix

fix linting
  packages/atoms/Button/ButtonLike.test.tsx
  packages/components/components/drawer/DrawerApp.tsx
Due: none

Detail fixes
  packages/components/containers/notifications/Notification.tsx
  packages/styles/assets/img/icons/sprite-icons.svg
  packages/styles/scss/components/_notification.scss
Due: prettier --write, stylelint --fix

Refactor Notification spacings
  packages/components/components/button/NotificationButton.tsx
  packages/components/containers/notifications/Notification.tsx
  packages/styles/scss/components/_notification.scss
Due: prettier --write, stylelint --fix

fix linting
  packages/components/components/drawer/DrawerApp.tsx
Due: none

Added NotificationButton Component
  applications/storybook/src/stories/components/Notification.stories.tsx
  packages/atoms/Kbd/Kbd.scss
  packages/components/components/button/NotificationButton.tsx
  packages/components/components/button/index.ts
  packages/components/containers/notifications/Notification.tsx
  packages/styles/scss/components/_notification.scss
Due: prettier --write, stylelint --fix

add word break to notifications
  applications/drive/src/app/store/_actions/useListNotifications.tsx
  packages/styles/scss/components/_notification.scss
Due: prettier --write, stylelint --fix

Add a focus on the search input when opening contact in the Drawer MAILWEB-3829
  packages/components/components/drawer/views/DrawerContactView.tsx
  packages/components/components/drawer/views/DrawerView.tsx
  packages/components/containers/contacts/widget/ContactsWidgetContainer.tsx
  packages/components/hooks/useDrawerContactFocus.ts
Due: none

Fix get started checklist position in row mode MAILWEB-3950
  applications/mail/src/app/components/checklist/GetStartedChecklist.tsx
  applications/mail/src/app/components/list/List.tsx
Due: none

Changelog Mail v5.0.17.0
  applications/mail/CHANGELOG.md
Due: prettier --write

Changelog for calendar v5.0.8
  applications/calendar/CHANGELOG.md
Due: prettier --write

ICS surgery for badly formatted date-time properties
  applications/mail/src/app/components/message/extras/ExtraEvents.tsx
  applications/mail/src/app/helpers/calendar/invite.ts
  packages/shared/lib/calendar/icsSurgery/ics.ts
  packages/shared/lib/calendar/import/import.ts
  packages/shared/lib/calendar/vcal.ts
  packages/shared/lib/calendar/vcalHelper.ts
  packages/shared/lib/interfaces/calendar/VcalModel.ts
  packages/shared/test/calendar/ics.spec.ts
  packages/shared/test/calendar/import.spec.ts
  packages/shared/test/calendar/vcal.spec.js
Due: none

Path conditions:
  prettier --write: (((any of: (*.ts|*.tsx|*.js)) or (any of: *.scss)) or (any of: *.json)) or (any of: *.md)
  eslint --fix: any of: (*.ts|*.tsx|*.js)
  stylelint --fix: any of: *.scss
  sort-package-json: any of: package.json
